{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Home{% endblock %}

{% block body %}

  <a href="{{ path('add_article') }}"><button type="button" class="add-article-button btn btn-default">Add Article</button></a>
  {% for article in listArticle %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{ article.name }}</h3>
      </div>
      <div class="panel-body">
        {{ article.text }}
      </div>
      <button type="button" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-thumbs-up"></span> Like
      </button>
    </div>
  {% endfor %}
{% endblock %}
