{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - add article{% endblock %}

{% block body %}
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Title</div>
      <div class="panel-body">
        Text
      </div>
    </div>
  </div>
{% endblock %}
